/*
    Created on : Apr 1, 2016, 12:41:50 PM
    Author     : katekozelkova
*/

body {
    background-color: #f0f2f5;
    font-family: Open Sans,Helvetica Neue,sans-serif;
}

.alert-head {
    margin: 60px 15px 50px 15px;
    border: 1px solid #e9eef2;
    background-color:#ffffff;
    border-radius: 3px;
    padding:15px ;

}
.alert-head > h1 {
    margin: 0px 15px 0 15px;

}
.edit-link {
    color: #939699;
    text-align: right;
    font-size:17px;
    display: inline-block;
    margin-left: 20px;
}

.box {
    border: 1px solid #e9eef2;
    padding: 20px 20px 30px 20px;
    border-radius: 3px;
    box-shadow: 0 1px 0 0 #e1e8ed, 0 0 0 1px #e9eef2;
    margin: 15px 0 0;
    background-color:#ffffff;
}
.box-header {
    margin: 10px 20px 15px 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eef0f3;
}
.rules-box {

}
.users-box {

}

li {
    padding-top: 15px;
    list-style: none;
    font-size: 17px;
}
label {
    font-weight: normal;
    margin-left: 10px;
}
button {
    margin: 20px 0 0 40px;
}


@media (max-width: 700px) {

}